{
  "parser": "babel-eslint",
  "extends": ["airbnb"],
  "rules": {
    "jsx-a11y/no-autofocus": 0,
    "jsx-a11y/label-has-for": 0,
    "react/jsx-one-expression-per-line": 0,
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", ".jsx"]
      }
    ]
  }
}