{
  "parser": "babel-eslint",
  "extends": ["airbnb"],
  "plugins": ["react-hooks"],
  "rules": {
    "react/jsx-one-expression-per-line": 0,
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", ".jsx"]
      }
    ],
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn"
  }
}
